*.la
*.lo
*.log
*.o
*.trs
*~
.deps/
.libs/
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.*
configure
depcomp
install-sh
libtool
libtrio.pc
ltmain.sh
missing
stamp-h1
test-driver
compare
example
regression
