*.la
*.lo
*.log
*.o
*.pc
*.stamp
*.trs
*~
.deps/
.libs/
Doxyfile
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build
compile
config.*
configure
depcomp
html
install-sh
libtool
ltmain.sh
missing
stamp-h1
test-driver
compare
example
regression
